/* общее */
body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.menu a {
    color: black;
}

.menu a:hover {
    color: #766357;
}

.vicualli-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.basis {
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
}

/* Заголовки */
.white {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.black {
    font-size: 21px;
    line-height: 21px;
}

.found {
    font-size: 21px;
    line-height: 26px;
}

.index-city {
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
}

/* Отели выбор*/
.options a {
    color: #000000;
    opacity: .3;
}

.options a:hover {
    color: #81b3d2;
    border-bottom: 1px dashed;
}

.options a:active {
    color: #81b3d2;
    border-bottom: 1px dashed;
}

.buttons {
    width: 135px;
    height: 35px;
    padding: 5px;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: 2px white solid;
    text-align: center;
}

.buttons:hover, .buttons:active {
    color: black;
    background-color: white;
}

a.btn {
    display: inline-block;
    color: white;
    user-select: none;
    padding: 3px 10px;
    text-align: center;
    min-width: 110px;
}

a.read_more {
    background: #81b3d2;
}

a.read_more:hover {
    background: #669ec0;
}

a.read_more:active {
    color: #94b9d2;
    background: #5496bd;
}

a.registration {
    background: #766357;
}

a.registration:hover {
    background: #604e43;
}

a.registration:active {
    color: #877d78;
    background: #503e33;
}

.arrows a {
    text-decoration: underline;
}

.arrows a svg path:hover {
    fill: #231f20;
}

.arrows a svg path:active {
    fill: #81b3d2;
}

/* Отели подробнее и выбор*/

.found a {
    color: black;
}

.found a:hover {
    color: #81b3d2;
}

.found a:active {
    color: #cacaca;
}

/* index контент*/
.more {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.reasons {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.town {
    width: 400px;
    height: 256px;
    background-color: #81b3d2;
    color: white;
    text-align: center;
}

.mount {
    width: 400px;
    height: 256px;
    background-color: #81b3d2;
    color: white;
    text-align: center;
}

.hous-food-souv, .area-road-tur {
    text-align: center;
}

/* Главная поиск форма*/
.index-form {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.form-index {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}

.selection {
    width: 570px;
    height: 395px;
    font-size: 14px;
    line-height: 26px;
    background: #ffffff;
    text-align: center;
}

.button_serch {
    color: white;
    border: none;
    text-align: center;
    width: 570px;
    height: 85px;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    background: #766357;
}

.button_serch:hover {
    background: #604e43;
}

.button_find {
    color: white;
    border: none;
    text-align: center;
    width: 457px;
    height: 57px;
    margin: 30px 10px;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    background: #81b3d2;
}

.button_find:hover {
    background: #ebebeb;
}

.button_find:active {
    color: #94b9d2;
    background: #ffffff;
}

.formfield:hover {
    background: #ebebeb;
}

.formfield:focus {
    background: #ffffff;
    border: 1px #e5e5e5 solid;
}

.addults_children {
    margin: 30px 10px;
}

.addults_children:hover {
    background: #ebebeb;
}

.addults_children:focus {
    background: #ffffff;
    border: 1px #e5e5e5 solid;
}

.addults_children p, input {
    display: inline;
}

.calendar path {
    fill: #d0d0d0;
}

.calendar:hover path {
    fill: #000000;
}

.calendar:active path {
    fill: #81b3d2;
}

.form_row {
    margin: 30px 40px;
}

.formfield {
    text-align: left;
    padding: 10px 5px;
    margin: 40px 10px 10px 10px;
    background: #f2f2f2;
    width: 340px;
    border: none;
}

.formfield:hover {
    background: #ebebeb;
}

.formfield:focus {
    background: #ffffff;
    border: 1px #e5e5e5 solid;
}

.button_serch:active {
    color: #877d78;
    background: #503e33;
}

/* Не знаю как поставить внутрь формы. И вообще что это за элемент*/
.plus {
    fill: #cacaca;
}

.plus:hover {
    fill: #231f20;
}

plus:active {
    fill: #231f20;
}

.minus {
    fill: #cacaca;
}

.minus:hover {
    fill: #231f20;
}

minus:active {
    fill: #231f20;
}

/* Футер*/

.footer_academy {
    width: 112px;
    height: 40px;
}

.footer_academy a svg path:hover {
    fill: #81b3d2;
}

.footer_academy a svg path:active {
    fill: #cacaca
}

.social li {
    display: inline;
}

.social a {
    display: inline-block;
    padding: 10px 13px;
    background: #81b3d2;
}

.social li a:hover {
    background: #669ec0;
}

.social a svg path:hover {
    fill: #81b3d2;
}

.social li a:active {
    background: #5496bd;
}







